<?xml version="1.0" ?>
<robot name="obj_1" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ur5_gripper_moveit_config)/env_urdf/common.xacro"/>
  <xacro:include filename="$(find ur5_gripper_moveit_config)/env_urdf/objects/camera.gazebo.xacro"/>

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <box_inertial mass="0.1" height="0.0305" width="0.0305" depth="0.0305"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0305 0.0305 0.0305"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0305 0.0305 0.0305" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/Green</material>
    <mu1>0.4</mu1>
    <mu2>0.4</mu2>
  </gazebo>

  <xacro:camera_gazebo_v0/>

</robot>



